@font-face {
  font-family: 'Montserrat';
  src: url('./styles/fonts/Montserrat-Bold.eot');
  src: url('./styles/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
      url('./styles/fonts/Montserrat-Bold.woff2') format('woff2'),
      url('./styles/fonts/Montserrat-Bold.woff') format('woff'),
      url('./styles/fonts/Montserrat-Bold.ttf') format('truetype'),
      url('./styles/fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./styles/fonts/Montserrat-Regular.eot');
  src: url('./styles/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
      url('./styles/fonts/Montserrat-Regular.woff2') format('woff2'),
      url('./styles/fonts/Montserrat-Regular.woff') format('woff'),
      url('./styles/fonts/Montserrat-Regular.ttf') format('truetype'),
      url('./styles/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./styles/fonts/Montserrat-Italic.eot');
  src: url('./styles/fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
      url('./styles/fonts/Montserrat-Italic.woff2') format('woff2'),
      url('./styles/fonts/Montserrat-Italic.woff') format('woff'),
      url('./styles/fonts/Montserrat-Italic.ttf') format('truetype'),
      url('./styles/fonts/Montserrat-Italic.svg#Montserrat-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./styles/fonts/Montserrat-BoldItalic.eot');
  src: url('./styles/fonts/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('./styles/fonts/Montserrat-BoldItalic.woff2') format('woff2'),
      url('./styles/fonts/Montserrat-BoldItalic.woff') format('woff'),
      url('./styles/fonts/Montserrat-BoldItalic.ttf') format('truetype'),
      url('./styles/fonts/Montserrat-BoldItalic.svg#Montserrat-BoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

.main {
  background-color: chartreuse;
}